<h1>Question <%= @current + 1 %> of <%= @total %></h1>
<p id="question"><%= @question.text %></p>

<div id="feedback-answers">
  <% @answers.each do |answer| %>
	 <% if answer.correct %>
		<p class="correct feedback-answer">
	 <% elsif answer == @answer %>
		<p class="incorrect feedback-answer">
	 <% else %>
		<p class="feedback-answer">
	 <% end %>
		<%= answer.answer %>
	 </p>
  <% end %>
</div>

<p class="feedback">
  <% if @correct %>
	 Correct!
  <% else %>
	 Incorrect.
  <% end %>
</p>

<%= form_tag({:controller => "quiz", :action => "question"}) do %>
  <div class="center">
	 <%= submit_tag("Continue", :class => "submit") %>
  </div>
<% end %>

<% content_for(:title) do %>
  Question <%= @current + 1 %> of <%= @total %>
<% end %>